   body{
    background-color: #767676;
   }
   
   
   .mydiv1{
height: 120px;
width: 400px;
color: #9f2528;  
font-style: italic;  
font-weight: bolder;
font-size: x-large;
text-align: center;
background-color: aliceblue;
border: 7px solid red;
border-radius: 20px;
box-shadow: 5px 5px darkmagenta;
margin-left: 400px;
padding-top: 20px;
text-shadow: 1px -1px ;
}
.container{
    
    height: 600px;
    /* width: 100%px; */
    border: 5px solid green;

} 
.con1{
height: 200px;
width: 220px;
display: inline-block; 
margin-top: -20%;
background-color: aliceblue;
border: 5px solid red;
border-radius: 20px;
box-shadow: 5px 5px darkmagenta;
text-align: center;
color: #873688;
font-size: x-large;
font-weight: bolder;
text-shadow: 1px -1px solid #873688;

}
.con2{
    height: 200px;
    width: 220px;
    background-image: url(images1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: border 5px solid black;
  background-color: aliceblue;
    display: flex;
    display: inline-block;
    border: 5px solid red;
    margin-left: 700px;
    border-radius: 20px;
box-shadow: 5px 5px darkmagenta;
    

}
.mid{
  height: 70px;
  width: 400px;
  position: fixed;
  background-color: #a0f33c;
  border: 5px solid red;
  border-radius: 20px;
  box-shadow: 5px 5px darkmagenta;
  margin-left: 400px;
}
.mid1{
  font-style:italic ;
  font-size: larger;
  font-weight: bolder;
  color: red;
  display: inline-block;
  text-align: center;
  padding-left: 30px;
}
.mid{
padding-left: 10px;
font-style: italic;
}
.con3{
    height: 200px;
    width: 220px;
    display: flex;
    display: inline-block;
    background-color: aliceblue;
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px darkmagenta;
    color: #873688;
    font-size: larger;
    font-weight: bolder;
    text-shadow: 1px -1px #873688;
  padding-top: 10px;
  margin-top: 8%;
  
  
    
}
.con4{
  height: 200px;
  width: 220px;
    background-color: aliceblue;
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px darkmagenta;
    color: #873688;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px -1px;
  margin-left: 950px;
  margin-top: -18%;
}
.Rateus{
  font-size: small;
  
}
input{
  text-align: center;
}
.container2{
  height: 560px;
  width: 700px;
  background-color: green;
  border:5px solid #873688;
  text-align: center;
  margin-left: 300px;
  position: static;
}
.container3{
  display: flex;
  justify-content: space-around;


}
.cont1{
height: 250px;
width: 340px;
background-color: darkkhaki;
font-style: italic;

}
.cont2{
  height: 250px;
  width: 340px;
  font-style: italic;
  background-color: darkkhaki;
}
.cont3{
  height: 200px;
  width: 710px;
  background-color: darkkhaki;
  font-style: italic;
  position: static;
}
